{% set controller_mgmt_ip = hostvars[groups['openstack-ubu-controller'][0]]['ansible_'+ifaceM].ipv4.address %}
[DEFAULT]
#verbose = True
#debug = True
bind_host = {{ controller_mgmt_ip }}
log_file = /var/log/glance/registry.log

[DATABASE]
connection = mysql://glance:{{ glance_db_pass }}@{{ controller_mgmt_ip }}/glance

[keystone_authtoken]
auth_uri = http://{{ controller_mgmt_ip }}:5000
auth_url = http://{{ controller_mgmt_ip }}:35357
auth_version = 3.0
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = glance
password = {{ glance_pass }}

[paste_deploy]
#flavor=keystone

[OSLO_CONCURRENCY]
lock_path = /var/lock/neutron

[OSLO_MESSAGING_RABBIT]
rabbit_host = {{ controller_mgmt_ip }}
rabbit_userid = {{ rabbit_user }}
rabbit_password = {{ rabbit_pass }}


