{% set controller_mgmt_ip = hostvars[groups['openstack-ubu-controller'][0]]['ansible_'+ifaceM].ipv4.address %}

[DEFAULT]
#verbose = True
#debug = True
bind_host = {{ controller_mgmt_ip }}
registry_host = {{ controller_mgmt_ip }}
log_file = /var/log/glance/api.log
#backlog = 4096
workers = 1

[DATABASE]
connection = mysql://glance:{{ glance_db_pass }}@{{ controller_mgmt_ip }}/glance

[glance_store]
stores = file
default_store = file
filesystem_store_datadir = /var/lib/glance/images

[KEYSTONE_AUTHTOKEN]
auth_uri = http://{{ controller_mgmt_ip }}:5000
auth_url = http://{{ controller_mgmt_ip }}:35357
auth_version = 3.0
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
user-name = glance
password = {{ glance_pass }}

[PASTE_DEPLOY]
#flavor=keystone

[OSLO_CONCURRENCY]
lock_path = /var/lock/neutron

[OSLO_MESSAGING_RABBIT]
rabbit_host = {{ controller_mgmt_ip }}
rabbit_userid = {{ rabbit_user }}
rabbit_password = {{ rabbit_pass }}


