[DEFAULT]

device_driver = neutron_lbaas.drivers.haproxy.namespace_driver.HaproxyNSDriver
#ovs_integration_bridge = br-int
interface_driver = {{ interface_driv }}
loadbalancer_scheduler_driver = neutron_lbaas.agent_scheduler.ChanceScheduler

debug = True
#verbose = true
#log_file = <None>
#log_dir = <None>

[haproxy]
loadbalancer_state_path = $state_path/lbaas
#user_group = nogroup
#send_gratuitous_arp = 3

[certificates]
#cert_manager_type = barbican
#barbican_auth = barbican_acl_auth
#storage_path = /var/lib/neutron-lbaas/certificates/

[quotas]
#quota_loadbalancer = 10
#quota_listener = -1
#quota_pool = 10
#quota_member = -1
#quota_healthmonitor = -1

[service_providers]
# Defines providers for advanced services using the format:
# <service_type>:<name>:<driver>[:default] (multi valued)
service_provider=LOADBALANCERV2:Haproxy:neutron_lbaas.drivers.haproxy.plugin_driver.HaproxyOnHostPluginDriver:default

