[DEFAULT]
# Show debugging output in log (sets DEBUG log level output)
# debug = False

# The neutron user information for accessing the neutron API.
auth_url = http://{{ hostvars[groups['openstack-ubu-controller'][0]]['ansible_'+ifaceM].ipv4.address }}:35357/v2.0/
auth_region = RegionOne
admin_tenant_name = {{ admin_tenant }}
admin_user = {{ admin_tenant_user }}
admin_password = {{ admin_pass }}

# IP address used by Nova metadata server
# nova_metadata_ip = {{ hostvars[groups['openstack-ubu-controller'][0]]['ansible_'+ifaceM].ipv4.address }}

# TCP Port used by Nova metadata server
# nova_metadata_port = 8775

# When proxying metadata requests, neutron signs the Instance-ID header with a
# shared secret to prevent spoofing.  You may select any string for a secret,
# but it must match here and in the configuration used by the Nova Metadata
# Server. NOTE: Nova uses a different key: neutron_metadata_proxy_shared_secret
metadata_proxy_shared_secret = openstack

