{% set controller_mgmt_ip = hostvars[groups['openstack-ubu-controller'][0]]['ansible_'+ifaceM].ipv4.address %}
{% set local_ip = hostvars[ansible_hostname]['ansible_'+ifaceM].ipv4.address %}
{% set local_ipa = hostvars[ansible_hostname]['ansible_'+ifaceA].ipv4.address %}
[DEFAULT]

#verbose=True
debug = True
dhcpbridge_flagfile = /etc/nova/nova.conf
dhcpbridge = /usr/local/bin/nova-dhcpbridge
logdir=/var/log/nova
state_path=/var/lib/nova
force_dhcp_release = True
iscsi_helper = tgtadm
libvirt_use_virtio_for_bridges = True
connection_type = libvirt
root_helper = sudo /usr/local/bin/nova-rootwrap /etc/nova/rootwrap.conf
#osapi_compute_workers = 10
api_paste_config = /etc/nova/api-paste.ini
volumes_path = /var/lib/nova/volumes
enabled_apis = osapi_compute,metadata
firewall_driver = nova.virt.firewall.NoopFirewallDriver
security_group_api = neutron
linuxnet_interface_driver = {{ interface_driv }}
auth_strategy = keystone
force_config_drive = True
use_neutron = True

my_ip={{ local_ip }}

fixed_ip_disassociate_timeout = 30
enable_instance_password = False
service_neutron_metadata_proxy = True
neutron_metadata_proxy_shared_secret = openstack

[vnc]
novncproxy_base_url=http://localhost:16080/vnc_auto.html
# Change vncserver_proxyclient_address and vncserver_listen to match each compute host
vncserver_proxyclient_address={{ local_ipa }}
vncserver_listen={{ local_ipa }}
enabled = {{ vnc_enabled }}

[spice]
agent_enabled = True
enabled = True
html5proxy_base_url = http://localhost:6080/spice_auto.html
html5proxy_host = {{ local_ipa }}
html5proxy_port = 6080
keymap = en-us
server_listen = {{ local_ipa }}
server_proxyclient_address = {{ local_ipa }}

[DATABASE]
connection = mysql://nova:{{ nova_db_pass }}@{{ controller_mgmt_ip }}/nova

[GLANCE]
api_servers = http://{{ controller_mgmt_ip }}:9292

[KEYSTONE_AUTHTOKEN]
auth_uri = http://{{ controller_mgmt_ip }}:5000
auth_url = http://{{ controller_mgmt_ip }}:35357
memcached_servers = {{ controller_mgmt_ip }}:11211
#auth_version = 3
auth_plugin = password
project_domain_name = default
user_domain_name = default
project_name = service
username = nova
password = {{ nova_pass }}
region_name = RegionOne

[NEUTRON]
url = http://{{ controller_mgmt_ip }}:9696
auth_url = http://{{ controller_mgmt_ip }}:35357
auth_plugin = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = neutron
password = {{ neutron_pass }}

[OSLO_CONCURRENCY]
lock_path = /var/lock/nova

[OSLO_MESSAGING_RABBIT]
rabbit_host = {{ controller_mgmt_ip }}
rabbit_userid = {{ rabbit_user }}
rabbit_password = {{ rabbit_pass }}

[API_DATABASE]
connection = mysql://nova:nova@{{ controller_mgmt_ip }}/nova_api

