[Unit]
Description=Openstack Neutron Linux Bridge Agent
After=
Requires=neutron-linuxbridge-cleanup.service

[Service]
User=neutron
Group=neutron
WorkingDirectory=/var/lib/neutron
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/lock/neutron /var/log/neutron /var/lib/neutron
ExecStartPre=/bin/chown neutron:neutron /var/lock/neutron /var/log/neutron /var/lib/neutron
ExecStart=/etc/init.d/neutron-linuxbridge-agent systemd-start
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
